<div class="modal-content">
  <div class="modal-header">
    <button ng-click="Login.downloadTools.close()" type="button" class="close">
      <span>×</span>
    </button>
    <h4 class="modal-title">
      <i class="fa fa-windows"></i>
      专用客户端下载
    </h4>
  </div>
  <div class="modal-body">
    <p class="demo"></p>
  </div>
  <div class="modal-footer">
    <a href="downloads/editor-win-xp.zip" class="btn btn-lg btn-default btn-flat pull-left">
      <i class="fa fa-cloud-download" aria-hidden="true"></i>
      适用于WindowsXP系统
    </a>
    <a href="downloads/editor-win-10.zip" class="btn btn-lg btn-default btn-flat pull-right">
      <i class="fa fa-cloud-download" aria-hidden="true"></i>
      适用于Windows7及更高版本
    </a> 
  </div>
</div>